<form [formGroup]="cutoffsForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-select class="select" placeholder="Select cutoffs" formControlName="cutoffs" multiple>
            <mat-option *ngFor="let cutoff of cutoffsList" [value]="cutoff" [id]="cutoff.id">{{cutoff.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div formArrayName="selectedCutoffs">
        <h4>Cutoffs</h4>
        <div *ngFor="let cutoff of cutoffsForm.get('selectedCutoffs').controls; let i = index">
            <mat-form-field>
                <label>Cutoff {{i}}</label>
                <input matInput [formControlName]="i">
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button type="submit" color="primary">Submit</button>
</form>