<form (ngSubmit)="onSubmit()" #form="ngForm">
    <div>
        <mat-form-field class="select">
            <mat-select placeholder="Select cutoffs" multiple [ngModel]="selectedCutoffs" (ngModelChange)="selectChanged($event)" name="selectedCutoffs">
                <mat-option *ngFor="let cutoff of cutoffsList" [value]="cutoff.id">{{cutoff.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div *ngFor="let cutoff of cutoffFields" ngModelGroup="cutoffValues" #cutoffValues="ngModelGroup">
            <mat-form-field>
                <label>Cutoff {{cutoff.name}}</label>
                <input id="{{cutoff.id}}" [(ngModel)]="cutoff.value" #{{cutoff.id}}="ngModel" name="{{cutoff.name}}" matInput required>
            </mat-form-field>
        </div>
        <div *ngIf="form.controls.cutoffValues">
            <p *ngIf="form.controls.cutoffValues.invalid && form.controls.cutoffValues.touched">Fields are required, please enter a value</p>
        </div>
    </div>
    <button 
        mat-raised-button 
        type="submit" 
        color="primary"
        [disabled]="!form.valid">Submit</button>
</form>