/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

app-root form {
    margin-left:50px;
    margin-top: 50px;
}

app-root form > div,
app-root form > div > div {
    display: inline-block;
    margin-right: 20px;
}

mat-form-field.select {
    margin-right: 50px;
}

mat-form-field.select .mat-form-field-wrapper {
    height: 63.5px;
}
